<!-- Navbar Component - KIP Kuliah Festival -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-main fixed-top" id="mainNavbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/logo/Logo_KIPFEST2026.png" alt="KIP Kuliah Festival 2026" class="navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="acara.html">Acara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="daftar.html">Daftar</a>
        </li>
      </ul>
      <div class="navbar-cta-btn">
        <a href="daftar.html" class="btn btn-primary btn-shine">Daftar Sekarang</a>
      </div>
    </div>
  </div>
</nav>
